USE [BloodBankDb]
GO
ALTER TABLE [dbo].[UsersTbl] DROP CONSTRAINT [DF__UsersTbl__Create__4316F928]
GO
ALTER TABLE [dbo].[RequestTbl] DROP CONSTRAINT [DF__RequestTb__Creat__3E52440B]
GO
ALTER TABLE [dbo].[PatientsTbl] DROP CONSTRAINT [DF__tmp_ms_xx__Creat__5FB337D6]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsersTbl]') AND type in (N'U'))
DROP TABLE [dbo].[UsersTbl]
GO
/****** Object:  Table [dbo].[TransferTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransferTbl]') AND type in (N'U'))
DROP TABLE [dbo].[TransferTbl]
GO
/****** Object:  Table [dbo].[RequestTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RequestTbl]') AND type in (N'U'))
DROP TABLE [dbo].[RequestTbl]
GO
/****** Object:  Table [dbo].[PatientsTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PatientsTbl]') AND type in (N'U'))
DROP TABLE [dbo].[PatientsTbl]
GO
/****** Object:  Table [dbo].[DonorTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DonorTbl]') AND type in (N'U'))
DROP TABLE [dbo].[DonorTbl]
GO
/****** Object:  Table [dbo].[BloodTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BloodTbl]') AND type in (N'U'))
DROP TABLE [dbo].[BloodTbl]
GO
/****** Object:  Table [dbo].[BloodTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTbl](
	[BGroup] [varchar](50) NOT NULL,
	[BStock] [int] NOT NULL,
 CONSTRAINT [PK_BloodTbl] PRIMARY KEY CLUSTERED 
(
	[BGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorTbl](
	[DNum] [int] IDENTITY(100,1) NOT NULL,
	[DName] [varchar](50) NOT NULL,
	[DAge] [int] NOT NULL,
	[DGender] [varchar](50) NOT NULL,
	[DPhone] [varchar](50) NOT NULL,
	[DAddress] [varchar](50) NOT NULL,
	[DBGroup] [varchar](50) NOT NULL,
	[DPicture] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientsTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientsTbl](
	[PNum] [int] IDENTITY(500,1) NOT NULL,
	[PName] [varchar](50) NOT NULL,
	[PAge] [int] NOT NULL,
	[PPhone] [varchar](50) NOT NULL,
	[PGender] [varchar](50) NOT NULL,
	[PBGroup] [varchar](50) NOT NULL,
	[PAdress] [varchar](50) NOT NULL,
	[PDList] [varchar](50) NOT NULL,
	[PWNo] [varchar](50) NOT NULL,
	[PBNo] [varchar](50) NOT NULL,
	[PPicture] [image] NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestTbl](
	[Id] [int] IDENTITY(500,1) NOT NULL,
	[RName] [varchar](50) NULL,
	[RPhone] [varchar](11) NULL,
	[REmail] [varchar](50) NULL,
	[RBGroup] [varchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferTbl](
	[TNum] [int] IDENTITY(1,1) NOT NULL,
	[PName] [varchar](50) NOT NULL,
	[BGroup] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 08/10/2024 4:25:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTbl](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[UName] [varchar](50) NULL,
	[UFullName] [varchar](50) NULL,
	[UPhone] [varchar](11) NULL,
	[UEmail] [varchar](50) NULL,
	[UPassword] [varchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BloodTbl] ([BGroup], [BStock]) VALUES (N'A+', 0)
INSERT [dbo].[BloodTbl] ([BGroup], [BStock]) VALUES (N'A-', 0)
INSERT [dbo].[BloodTbl] ([BGroup], [BStock]) VALUES (N'AB+', 0)
GO
SET IDENTITY_INSERT [dbo].[DonorTbl] ON 

SET IDENTITY_INSERT [dbo].[DonorTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientsTbl] ON 

SET IDENTITY_INSERT [dbo].[PatientsTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestTbl] ON 

INSERT [dbo].[RequestTbl] ([Id], [RName], [RPhone], [REmail], [RBGroup], [CreatedDate]) VALUES (508, N'Shaily Saha', N'01733445566', N'turjodasdip1@gmail.com', N'B+', CAST(N'2024-10-08T15:02:13.063' AS DateTime))
INSERT [dbo].[RequestTbl] ([Id], [RName], [RPhone], [REmail], [RBGroup], [CreatedDate]) VALUES (509, N'Turjo Das Dip', N'01857048383', N'tdas41380@gmail.com', N'AB-', CAST(N'2024-10-08T15:05:42.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[RequestTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[TransferTbl] ON 

INSERT [dbo].[TransferTbl] ([TNum], [PName], [BGroup]) VALUES (1, N'Turjo Das Dip', N'O+')
INSERT [dbo].[TransferTbl] ([TNum], [PName], [BGroup]) VALUES (2, N'Tawsif', N'A+')
INSERT [dbo].[TransferTbl] ([TNum], [PName], [BGroup]) VALUES (3, N'Tawsif', N'A+')
SET IDENTITY_INSERT [dbo].[TransferTbl] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersTbl] ON 

INSERT [dbo].[UsersTbl] ([Id], [UName], [UFullName], [UPhone], [UEmail], [UPassword], [CreatedDate]) VALUES (100, N'turjo', N'Turjo Das Dip', N'01857048383', N'tdas41380@gmail.com', N'654321', CAST(N'2024-10-07T20:59:41.053' AS DateTime))
INSERT [dbo].[UsersTbl] ([Id], [UName], [UFullName], [UPhone], [UEmail], [UPassword], [CreatedDate]) VALUES (101, N'shaily', N'Shaily Saha', N'01733445566', N'turjodasdip1@gmail.com', N'shaily123', CAST(N'2024-10-08T14:58:41.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[UsersTbl] OFF
GO
ALTER TABLE [dbo].[PatientsTbl] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RequestTbl] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UsersTbl] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
